input {
  margin-bottom: 5px;
}
.formTable {
  width: 500px;
  margin-top: 10px;
  border: 1px solid #aaa;
  font-size: 13px;
  font-size: 14px;
}
td, th {
  border: 1px solid #aaa;
}


form {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.save {
  margin-top: 10px;
}
#delete {
  width: 100%;
}